	</body>
	<script type="text/javascript" src="/static/jquery/jquery-1.12.3.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery-1.12.3.min.map"></script>
	<script type="text/javascript" src="/static/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="/static/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/form.js"></script>
	<style type="text/css">
		.centering {
	  		display: block;
	  		margin: auto;
		}
	</style>
</html>