
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.6-dist/css/bootstrap.css">
	</head>
	<body>
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <!-- <a class="navbar-brand" href="#">Duke Website</a> -->
		      <img src="/static/mem.png" height = "50" style="margin-right: 20px; padding-top:5px; padding-bottom:5px">
		      <img src="/static/meng.png" height = "50" style="margin-right: 20px; padding-top:5px; padding-bottom:5px">
		    </div>
		    <ul class="nav navbar-nav">
		      <li {% if header == "form" %}class="active"{% endif %}><a href="/form/">Form</a></li>
		      <li {% if header == "mem" %}class="active"{% endif %}><a href="/mem/">MEM</a></li>
		      <li {% if header == "meng" %}class="active"{% endif %}><a href="/meng/">MEGN</a></li> 
		    </ul>
		  </div>
		</nav>