{% include "header.html" %}

<div class="container-fluid">
{% for i in student_list %}
	<div class="col-sm-2">
		<div class="well centering">
			<div style="text-align: center; font-weight: bold;" >{{i.student_name}}</div>
			<div><img src="{{i.picture.url}}" class="img-thumbnail centering" style="margin: 0 auto"></img></div>
			<audio>
				<source src="{{i.name_audio.url}}" type="audio/mpeg"></source>
			</audio>
			<div class="centering" style="text-align:center;">Play Audio</div><div><img class="centering" style="margin-top:10px;"src="/static/play.png" data="{{i.name_audio.url}}" onClick="play(this)" height="24" width="24"></img></div>
		</div>
	</div>
{% endfor %}
</div>
{% include "footer.html" %}